In [3]:
#Import Dependencies

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
#Path to csv
#In the resources folder - renamed file
schools_csv = os.path.join("..", "Resources", "schools_complete.csv")
students_csv = os.path.join("..", "Resources", "students_complete.csv")

#New files as dataframes
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

#Print to check
#schools_df.head()
#students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [45]:
#Rename column  in schools_df to "school name"
schools_df.rename(columns = {"school_name": "school name"}, inplace = True)

#Rename column in students_df to "school name"
students_df.rename(columns = {"school_name": "school name"}, inplace = True)

#Merge dataframes on school name
merged_df = students_df.merge(schools_df, how = "left", on = "school name")

#Print to check
#schools_df.head()
#students_df.head()

merged_df.head()

,Student ID,student_name,gender,grade,school name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
District Summary
• Total Schools
• Total Students
• Total Budget
• Average Math Score
• Average Reading Score
• Percent Passing Math
• Percent Passing Reading
• Overall passing rate
• School Summary

In [40]:
totalSchools = schools_df["school name"].count()
#print(totalSchools)

totalStudents = students_df["school name"].count()
#print(totalStudents)

totalBudget = schools_df["budget"].sum()
#print(totalBudget)

avgMathScore = students_df["math_score"].mean()
#print(avgMathScore)

avgReadingScore = students_df["reading_score"].mean()
#print(avgReadingScore)

passingMath = students_df.loc[(students_df["math_score"] >= 70)]
count_passingMath = passingMath["math_score"].count()
#print(count_passingMath)

pct_passingMath = (count_passingMath/totalStudents)*100
#print(pct_passingMath)

passingReading = students_df.loc[(students_df["reading_score"] >= 70)]
count_passingReading = passingReading["reading_score"].count()
#print(count_passingReading)

pct_passingReading = (count_passingReading/totalStudents)*100
#print(pct_passingReading)

In [49]:
#Overall passing rate
overallPass = students_df[(students_df["math_score"] >= 70) & (students_df["reading_score"] >= 70)]["school name"].count()/totalStudents
#print(overallPass)

pct_overallPass = overallPass*100
#print(pct_overallPass)

In [55]:
districtSummary = {"Total Schools" : totalSchools,
                   "Total Students" : totalStudents,
                   "Total Budget" : totalBudget,
                   "Average Math Score" : avgMathScore,
                   "Average Reading Score" : avgReadingScore,
                   "% Passing Math" : pct_passingMath,
                   "% Passing Reading": pct_passingReading,
                   "% Overall Passing" : pct_overallPass
                  }

districtSummary_df = pd.DataFrame([districtSummary])

districtSummary_df = districtSummary_df[["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", ]

districtSummary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [71]:
#Formatting decimals not working
# districtSummary_df.style.format({"Total Budget": "${:,.2f}",
#                                 "Average Math Score": "{:.1f}",
#                                 "Average Reading Score": "{:.1f}",
#                                 "% Passing Math": "{:.1%}",
#                                 "% Passing Reading": "{:.1%}",
#                                 "% Overall Passing": "{:.1%}"
#                                 })