In [3]:
#Import Dependencies

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
#Path to csv
#In the resources folder - renamed file
schools_csv = os.path.join("..", "Resources", "schools_complete.csv")
students_csv = os.path.join("..", "Resources", "students_complete.csv")

#New files as dataframes
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

#Print to check
#schools_df.head()
#students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [45]:
#Rename column  in schools_df to "school name"
schools_df.rename(columns = {"school_name": "school name"}, inplace = True)

#Rename column in students_df to "school name"
students_df.rename(columns = {"school_name": "school name"}, inplace = True)

#Merge dataframes on school name
merged_df = students_df.merge(schools_df, how = "left", on = "school name")

#Print to check
#schools_df.head()
#students_df.head()

merged_df.head()

,Student ID,student_name,gender,grade,school name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
##District Summary

In [40]:
totalSchools = schools_df["school name"].count()
#print(totalSchools)

totalStudents = students_df["school name"].count()
#print(totalStudents)

totalBudget = schools_df["budget"].sum()
#print(totalBudget)

avgMathScore = students_df["math_score"].mean()
#print(avgMathScore)

avgReadingScore = students_df["reading_score"].mean()
#print(avgReadingScore)

passingMath = students_df.loc[(students_df["math_score"] >= 70)]
count_passingMath = passingMath["math_score"].count()
#print(count_passingMath)

pct_passingMath = (count_passingMath/totalStudents)*100
#print(pct_passingMath)

passingReading = students_df.loc[(students_df["reading_score"] >= 70)]
count_passingReading = passingReading["reading_score"].count()
#print(count_passingReading)

pct_passingReading = (count_passingReading/totalStudents)*100
#print(pct_passingReading)

In [49]:
#Overall passing rate
overallPass = students_df[(students_df["math_score"] >= 70) & (students_df["reading_score"] >= 70)]["school name"].count()/totalStudents
#print(overallPass)

pct_overallPass = overallPass*100
#print(pct_overallPass)

In [74]:

districtSummary = {"Total Schools" : totalSchools,
                   "Total Students" : totalStudents,
                   "Total Budget" : totalBudget,
                   "Average Math Score" : avgMathScore,
                   "Average Reading Score" : avgReadingScore,
                   "% Passing Math" : pct_passingMath,
                   "% Passing Reading": pct_passingReading,
                   "% Overall Passing" : pct_overallPass
                  }

districtSummary_df = pd.DataFrame([districtSummary])

districtSummary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [167]:
#Formatting decimals not working
#districtSummary_df.style.format({"Total Budget": "${:,.2f}",
#                                 "Average Math Score": "{:.2f}",
#                                "Average Reading Score": "{:.2f}",
#                                 "% Passing Math": "{:.1%}",
#                                 "% Passing Reading": "{:.1%}",
#                                 "% Overall Passing": "{:.1%}"
#                                 })

#Formatting
districtSummary_df.style.format({"Total Students": "{:,}",
                                 "Total Budget": "${:,.2f}",
                                 "Average Math Score": "{:.1f}",
                                 "Average Reading Score": "{:.1f}",
                                 "% Passing Math": "{:.1f}",
                                 "% Passing Reading": "{:.1f}",
                                 "% Overall Passing": "{:.1f}"
                                 })

In [130]:
##School Summary

In [148]:
bySchool = merged_df.set_index("school name").groupby(["school name"])

#School type
schoolTypes = schools_df.set_index("school name")["type"]
#print(schoolTypes)

studentsPerSchool = bySchool["Student ID"].count()
#print(studentsPerSchool)

schoolBudget = schools_df.set_index("school name")["budget"]
#print(schoolBudget)

studentBudget = schools_df.set_index("school name")["budget"]/schools_df.set_index("school name")["size"]
#print(studentBudget)

avgMath = bySchool["math_score"].mean()
#print(avgMath)
avgRead = bySchool["reading_score"].mean()
#print(avgRead)

passingMath = merged_df[merged_df["math_score"] >= 70].groupby("school name")["Student ID"].count()/studentsPerSchool
overall_passingMath = passingMath *100
#print(overall_passingMath)

passingReading = merged_df[merged_df["reading_score"] >= 70].groupby("school name")["Student ID"].count()/studentsPerSchool
overall_passingReading = passingReading * 100
#print(overall_passingReading)

overall = merged_df[(merged_df["reading_score"] >= 70) & (merged_df["math_score"] >= 70)].groupby("school name")["Student ID"].count()/studentsPerSchool
overallPct = overall * 100
#print(overallPct)

In [165]:
#schoolSummary = {"School Type" : schoolTypes,
#                   "Total Students" : studentsPerSchool,
#                    "Total School Budget" : schoolBudget,
#                   "Per Student Budget" : studentBudget,
#                   "Average Math Score" : avgMath,
#                   "Average Reading Score" : avgRead,
#                   "% Passing Math" : passingMath,
#                   "% Passing Reading": passingReading,
#                   "% Overall Passing" : overall
#                  }

#schoolSummary_df = pd.DataFrame([schoolSummary])

#schoolSummary_df

#I don't know why this dataframe is putting everything into one cell



#Formatting that works
schoolSummary = pd.DataFrame({
    "School Type": schoolTypes,
    "Total Students": studentsPerSchool,
    "Per Student Budget": studentBudget,
    "Total School Budget": schoolBudget,
    "Average Math Score": avgMath,
    "Average Reading Score": avgRead,
    '% Passing Math': passingMath,
    '% Passing Reading': passingReading,
    '% Overall Passing': overall
})

schoolSummary = schoolSummary[['School Type', 
                          'Total Students',
                        'Total School Budget',
                          'Per Student Budget',
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          '% Overall Passing']]

schoolSummary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          '% Overall Passing': "{:.1%}"})

In [131]:
##Top Performing Schools by Passing Rate

In [170]:
topSchools = schoolSummary.sort_values("% Overall Passing", ascending = False)
topSchools.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}",
                            'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}",
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "% Overall Passing": "{:.1%}"})

In [154]:
##Bottom Performing Schools by Passing Rate

In [169]:
bottomSchools = topSchools.tail()
#print(bottomSchools)

bottomSchools = bottomSchools.sort_values("% Overall Passing")
bottomSchools.style.format({'Total Students': '{:,}', 
                       "Total School Budget": "${:,}", 
                       "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}",
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "% Overall Passing": "{:.1%}"})

In [171]:
##Math Scores by Grade

In [175]:
#Find the math score by grade level
math9 = students_df.loc[students_df['grade'] == '9th'].groupby('school name')["math_score"].mean()
math10 = students_df.loc[students_df['grade'] == '10th'].groupby('school name')["math_score"].mean()
math11 = students_df.loc[students_df['grade'] == '11th'].groupby('school name')["math_score"].mean()
math12 = students_df.loc[students_df['grade'] == '12th'].groupby('school name')["math_score"].mean()

mathScores = pd.DataFrame({
        "9th": math9,
        "10th": math10,
        "11th": math11,
        "12th": math12
})

mathScores = mathScores[['9th', '10th', '11th', '12th']]
mathScores.index.name = "School name"

#Formatting
mathScores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

In [176]:
##Reading Scores by Grade

In [177]:
#Find the reading score by grade level
reading9 = students_df.loc[students_df['grade'] == '9th'].groupby('school name')["reading_score"].mean()
reading10 = students_df.loc[students_df['grade'] == '10th'].groupby('school name')["reading_score"].mean()
reading11 = students_df.loc[students_df['grade'] == '11th'].groupby('school name')["reading_score"].mean()
reading12 = students_df.loc[students_df['grade'] == '12th'].groupby('school name')["reading_score"].mean()

readingScores = pd.DataFrame({
        "9th": reading9,
        "10th": reading10,
        "11th": reading11,
        "12th": reading12
})

readingScores = readingScores[['9th', '10th', '11th', '12th']]
readingScores.index.name = "School name"

#Formatting
readingScores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

In [178]:
##Scores by School Spending

In [191]:
# create spending groups
bins = [0, 585, 615, 645, 1000000]
group_name = ['Less than $585', "$585 - 615", "$615 - 645", "Greater than $645"]
merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], bins, labels = group_name)

#group by spending
bySpending = merged_df.groupby('spending_bins')

#calculations
mathAvg = bySpending['math_score'].mean()
readAvg = bySpending['reading_score'].mean()
mathPass = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/bySpending['Student ID'].count()
readingPass = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/bySpending['Student ID'].count()
overallSpend = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/bySpending['Student ID'].count()

            
#creating dataframe           
scoresBySpend = pd.DataFrame({
    "Average Math Score": mathAvg,
    "Average Reading Score": readAvg,
    '% Passing Math': mathPass,
    '% Passing Reading': readingPass,
    '% Overall Passing': overallSpend
            
})
            
#arrange columns
scoresBySpend = scoresBySpend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing'
]]

scoresBySpend.index.name = "Spending (Per Student)"
scoresBySpend = scoresBySpend.reindex(group_name)

#formatting
scoresBySpend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing': '{:.1%}'})

In [192]:
##Scores by School Size

In [201]:
# create spending groups
bins = [0, 1000, 2000, 5000]
group_name = ['Small', 'Medium', 'Large']
merged_df['size_bins'] = pd.cut(merged_df['size'], bins, labels = group_name)

#group by spending
bySize = merged_df.groupby('size_bins')

#calculations
mathAvg = bySize['math_score'].mean()
readAvg = bySize['reading_score'].mean()
mathPass = merged_df[merged_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/bySize['Student ID'].count()
readingPass = merged_df[merged_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/bySize['Student ID'].count()
overallSpend = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/bySize['Student ID'].count()

            
#creating dataframe           
scoresBySize = pd.DataFrame({
    "Average Math Score": mathAvg,
    "Average Reading Score": readAvg,
    '% Passing Math': mathPass,
    '% Passing Reading': readingPass,
    '% Overall Passing': overallSpend
            
})
            
#arrange columns
scoresBySize = scoresBySize[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing'
]]

scoresBySize.index.name = "School size"
scoresBySize = scoresBySize.reindex(group_name)

#formatting
scoresBySize.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing': '{:.1%}'})

In [202]:
#Scores by School Type

In [207]:
#Group by type
byType = merged_df.groupby("type")

#calculations
mathAvg = byType['math_score'].mean()
readAvg = byType['reading_score'].mean()
mathPass = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/byType['Student ID'].count()
readingPass = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/byType['Student ID'].count()
overallSpend = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/byType['Student ID'].count()

            
#creating dataframe           
scoresByType = pd.DataFrame({
    "Average Math Score": mathAvg,
    "Average Reading Score": readAvg,
    '% Passing Math': mathPass,
    '% Passing Reading': readingPass,
    '% Overall Passing': overallSpend
            
})
            
#arrange columns
scoresByType = scoresByType[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing'
]]

scoresByType.index.name = "School type"

#formatting
scoresByType.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing': '{:.1%}'})